<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Styles", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PedeAi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PedeAi.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
    <div class="layout-wrapper d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/LandingPage">PedeAi</a>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <form method="post" asp-page="/Logout" class="logout-form">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
                                    </form>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Profile">Profile</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </header>
        <main role="main" class="flex-grow-1">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <footer class="border-top footer text-muted">
            <div class="container" style="color: black;">
                &copy; 2025 - PedeAi - <a asp-area="" asp-page="/Privacy">Privacidade</a> |
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <label>Bem vindo(a), @User.Identity.Name!</label>
                }
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
