@page "/AtribuicaoDePedidos"
@model AtribuicaoDePedidosModel
@{
    ViewData["Title"] = "AtribuicaoDePedidos";
    Layout = "_Layout";
}

<h1>AtribuicaoDePedidos</h1>
<p>This page corresponds to the UI frame: AtribuicaoDePedidos</p>

