@page "/CadastroCliente"
@model CadastroClienteModel
@{
    ViewData["Title"] = "CadastroCliente";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cadastro.css" />
}

<div class="login-wrapper">
    <div class="login-content centered-content">
        <div class="logo-container">
            <img src="~/images/pedeai.svg" alt="Logo UECE" class="login-logo" />
        </div>

        <h1 class="login-title">CADASTRE-SE AQUI</h1>

        <form method="post">
            <div class="input-group">
                <input asp-for="Email" class="input-card" placeholder="E-mail institucional" />
            </div>

            <div class="input-group">
                <input asp-for="Senha" type="password" class="input-card" placeholder="Senha" />
            </div>

            <div class="input-group">
                <input asp-for="ConfirmarSenha" type="password" class="input-card" placeholder="Confirmar senha" />
            </div>

            <button type="submit" class="login-button">CADASTRAR</button>
        </form>

        <div class="login-links">
            <a asp-page="/Login" class="nav-link">JÁ TEM CONTA?<br /> FAÇA LOGIN</a>
        </div>
    </div>
</div>