@page "/CadastroRestaurante"
@model CadastroRestauranteModel
@{
    ViewData["Title"] = "CadastroRestaurante";
    Layout = "_Layout";
}

<h1>CadastroRestaurante</h1>
<p>This page corresponds to the UI frame: CadastroRestaurante</p>

