@page "/CatalogoDeRestaurantes"
@model CatalogoDeRestaurantesModel
@{
    ViewData["Title"] = "CatalogoDeRestaurantes";
    Layout = "_Layout";
}

<h1>CatalogoDeRestaurantes</h1>
<p>This page corresponds to the UI frame: CatalogoDeRestaurantes</p>

