@page "/ConclusaoPedido"
@model ConclusaoPedidoModel
@{
    ViewData["Title"] = "ConclusaoPedido";
    Layout = "_Layout";
}

<div class="confirmacao-pedido">
    <p><strong>ID do Pedido:</strong> #12345</p>
    <p><strong>Previsão de entrega:</strong> 15 minutos</p>
    <a asp-page="/MonitorarPedidos" class="btn btn-outline-success">Acompanhar Pedido</a>
</div>

