@page "/ConclusaoPedido"
@model ConclusaoPedidoModel
@{
    ViewData["Title"] = "ConclusaoPedido";
    Layout = "_Layout";
}

<h1>ConclusaoPedido</h1>
<p>This page corresponds to the UI frame: ConclusaoPedido</p>

