@page "/DetalhesPedido"
@model DetalhesPedidoModel
@{
    ViewData["Title"] = "DetalhesPedido";
    Layout = "_Layout";
}

<h1>DetalhesPedido</h1>
<p>This page corresponds to the UI frame: DetalhesPedido</p>

