@page "/HomeAdministrador"
@model HomeAdministradorModel
@{
    ViewData["Title"] = "HomeAdministrador";
    Layout = "_Layout";
}

<h1>HomeAdministrador</h1>
<p>This page corresponds to the UI frame: HomeAdministrador</p>

