@page "/Login"
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="login-wrapper">
    <div class="login-content centered-content">
        <div class="logo-container">
            <img src="~/images/pedeai.svg" alt="PededAi" class="login-logo" />
        </div>
        <form method="post" novalidate>

            <div class="input-group valid-input-group">
                <input asp-for="Email" class="input-card" placeholder="E-mail" required />
            </div>

            <div class="input-group valid-input-group">
                <input asp-for="Senha" type="password" class="input-card" placeholder="Senha" required />
            </div>

            <div class="text-danger validation-message">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>

            <button type="submit" class="login-button">LOGIN</button>
        </form>
        <div class="login-links">
            <a href="#" class="nav-link">ESQUECEU A SENHA?</a>
            @if (TempData["Role"]?.Equals("Cliente") ?? false)
            {
                <form method="post" asp-page-handler="RedirectSignup">
                    <button type="submit" class="nav-link">CADASTRE-SE</button>
                </form>
            }
            else if (TempData["Role"]?.Equals("Entregador") ?? false)
            {

            }
        </div>
    </div>
</div>
