@page "/LoginRestaurante"
@model LoginRestauranteModel
@{
    ViewData["Title"] = "LoginRestaurante";
    Layout = "_Layout";
}

<h1>LoginRestaurante</h1>
<p>This page corresponds to the UI frame: LoginRestaurante</p>

