@page "/ModificarProduto"
@model ModificarProdutoModel
@{
    ViewData["Title"] = "ModificarProduto";
    Layout = "_Layout";
}

<h1>ModificarProduto</h1>
<p>This page corresponds to the UI frame: ModificarProduto</p>

