@page "/MonitorarPedidos"
@model MonitorarPedidosModel
@{
    ViewData["Title"] = "MonitorarPedidos";
    Layout = "_Layout";
}

<h1>MonitorarPedidos</h1>
<p>This page corresponds to the UI frame: MonitorarPedidos</p>

