@page "/NotificacoesCliente"
@model NotificacoesClienteModel
@{
    ViewData["Title"] = "NotificacoesCliente";
    Layout = "_Layout";
}

<h1>NotificacoesCliente</h1>
<p>This page corresponds to the UI frame: NotificacoesCliente</p>

