@page "/Inicio"
@model PaginaInicialClienteModel
@{
    ViewData["Title"] = "PaginaInicialCliente";
    Layout = "_Layout";
}

@section Scripts {
    <script src="~/js/inicio.js?v=@DateTime.Now.Ticks"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/PaginaInicialPedidos.css?v=@DateTime.Now.Ticks" />
}

<section class="pagina-inicial">
    <div class="header">
        <div class="title">
            <h1>PEDE AÍ!</h1>
        </div>
    </div>
    <br />
    <div class="section">
        <h2>RESTAURANTES <span class="arrow">→</span></h2>
        <div class="carousel" id="restaurante-carousel">
        </div>
    </div>

    <div class="section">
        <h2>PROMOÇÕES <span class="arrow">→</span></h2>
        <div class="promotions">
            @for (int i = 0; i < 4; i++)
            {
                <div class="promo-card">
                    <img src="/images/placeholder.png" alt="Promoção" />
                </div>
            }
        </div>
    </div>
</section>