@page "/Pedidos"
@model PedidosEntregadorModel
@{
    ViewData["Title"] = "PedidosEntregador";
    Layout = "_Layout";
}

<h1>PedidosEntregador</h1>
<p>This page corresponds to the UI frame: PedidosEntregador</p>

