@page "/PerfilCliente"
@model PerfilClienteModel
@{
    ViewData["Title"] = "PerfilCliente";
    Layout = "_Layout";
}

<h1>PerfilCliente</h1>
<p>This page corresponds to the UI frame: PerfilCliente</p>

