@page "/PerfilRestaurante"
@model PerfilRestauranteModel
@{
    ViewData["Title"] = "PerfilRestaurante";
    Layout = "_Layout";
}

<h1>PerfilRestaurante</h1>
<p>This page corresponds to the UI frame: PerfilRestaurante</p>

