@page "/RecuperacaoDeAcesso"
@model RecuperacaoDeAcessoModel
@{
    ViewData["Title"] = "RecuperacaoDeAcesso";
    Layout = "_Layout";
}

<h1>RecuperacaoDeAcesso</h1>
<p>This page corresponds to the UI frame: RecuperacaoDeAcesso</p>

