@page "/RecuperacaoDeAcesso"
@model RecuperacaoDeAcessoModel
@{
    ViewData["Title"] = "RecuperacaoDeAcesso";
    Layout = "_Layout";
}

<h1>Recuperar Acesso</h1>
<p>Informe seu email para receber instruções de redefinição de senha.</p>

<form method="post">
    <div class="input-group"><input asp-for="Email" placeholder="Email institucional" /></div>
    <button type="submit" class="btn btn-info">Enviar</button>
</form>
