@page "/RestauranteProdutos"
@model RestauranteProdutosModel
@{
    ViewData["Title"] = "RestauranteProdutos";
    Layout = "_Layout";
}

<ul class="produto-lista">
    <li>Pão com Ovo - R$5,00 <button>✏️</button> <button>🗑️</button></li>
    <li>Suco Natural - R$4,50 <button>✏️</button> <button>🗑️</button></li>
</ul>

<a asp-page="/ModificarProduto" class="btn btn-primary">+ Novo Produto</a>

