.carrinho-lista {
    max-width: 600px;
    margin: 0 auto;
}

    .carrinho-lista ul {
        list-style: none;
        padding: 0;
    }

    .carrinho-lista li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

.carrinho-total {
    margin-top: 15px;
    font-size: 1.2em;
    text-align: right;
}
